// VARIABLES
// -----------------------------

// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*
// ~*~*~ USE NAMED COLORS ie. $text_black ~*~~*~*~*
// ~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*~*

// Global values for color schemes and basic styles
// for Moovweb project

// Color Scheme
// ------------

$select_background_blue:  black;
$select_carrot_blue:      black;

// White
$white:                   #FFFFFF;

// Black
$black:                   #000000;

// Grays
$gray_label:              #919191;
$gray_medium:             #999999; // gray button
$gray_input:              #d4d4d4; // input border, gray button border
$gray_background:         #f0f0f0; // footer background, box background

// Red
$red_error:               #F00;

// colors
$color1: #6A2F0D; // brown
$color2: #6a1802; // maroon
$color3: #FF8C2F; // orange
$color4: white;
$color5: #075899; // blue 
$color6: #C7D7DB; // blue gray
$color7: #606263; // darker gray
$color8: #D74401; //header border color

//background colors
$background1: #FCF5AA;
$background2: #f2f4f7;
$background3: #e7ebf0;
$background4: #fff;
$background5: #C14102; // header background top
$background6: #852201; //header background bottom
$background_container: #f0f0f0; //products background color


$error:                   $red_error;
$body_background_color:   $white;
$text_black:              $black;
$link_color:              blue;

// Typography
// ----------
$font_family:             Trebuchet MS,Arial,Helvetica,sans-serif;
$base_font_size:          13px;
$line_height:             24px;
$text_font:               $base_font_size;

// Header Sizes
// ------------
$h1_size:                 $base_font_size + 9px;
$h2_size:                 $base_font_size + 6px;
$h3_size:                 $base_font_size + 3px;

// Borders
// -------
$border_color:            $gray_input;
$border:                  1px solid $border_color;
$border1: 1px solid shade($color1, 60%);
$border2: 1px solid #CDCDCD;
$border3: 1px solid shade($color3, 50%);
$border4: 1px solid $color8;
$border_container: #e5e5e5; //products container border


// Gradients
// ---------
$grad1: linear-gradient($color1 0, shade($color1, 40%) 100%);
$grad3: linear-gradient($color3 0, shade($color3, 40%) 100%);
$grad4: linear-gradient($background5 0, shade($background5, 20%) 100%); //header top
$grad2: linear-gradient($background6 0, shade($background6, 20%) 100%); //header bottom


// Component Sizing
// ----------------
$padding:                 10px;
$margin:                  10px;
$border_radius:           5px;
$btn_width:               100px;
$spacing:                 10px;

// Text Shadows
// ------------
$text_shadow: 0 -1px rgba(0,0,0,0.9);

// Box Shadows
// -----------
$box_shadow: 0 1px 3px rgba(0,0,0,0.9), 0 -1px 2px rgba(250,250,250,0.8);
